@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-segmented .ant-segmented-item-selected {
  background-color: #5B21B6 !important;
  color: white !important;
  border-radius: 30px !important;
}

.custom-segmented .ant-segmented-item {
  border-radius: 30px !important;
  transition: all 0.3s;
}

